$feature-flags: (
  ui-shell: true,
  grid-columns-16: true
);

// Use the gray 100 theme
@import '@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

@import 'carbon-components/scss/globals/scss/styles.scss';
@import '@carbon/elements/scss/elements';
